<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div style="background-color: #ffc107; width: 100%; height: 12px;margin-top:20px;"></div>
    <div class="container">

        <div class="row"style="margin-top: 30px; font-family: Noto Serif;">

            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h4>Chúng tôi là E-SMART </h4>

                    <p style=" font-family: Comic Sans MS; font-size:20px;">Chất lượng vượt niềm tin</p>
                    <div class="footer-social" >
                        <a href="#" target="_blank" style="margin: 10px;"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank" style="margin: 10px;"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank" style="margin: 10px;"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank" style="margin: 10px;"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h4 class="footer-wid-title">Chi nhánh </h4>
                    <ul>
                        <li>* Số 65 Nguyễn Phong Sắc ☎ 1900 2631 (nhánh 101)</li>
                        <li>* Số 371 Nguyễn Văn Cừ ☎ 1900 2631 (nhánh 102)</li>
                        <li>* Số 56 Nguyễn Hữu Huân ☎ 1900 2631 (nhánh 103)</li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h4 class="footer-wid-title">Chăm sóc khách hàng</h4>
                    <ul>
                        <li>Mua Online: 0247 1066866</li>
                        <li>Email: cskh@winmart.masangroup.com</li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h4 class="footer-wid-title">Bảng tin</h4>
                    <p>Đăng ký bản tin của chúng tôi và nhận các ưu đãi độc quyền mà bạn sẽ không tìm thấy ở bất kỳ nơi nào khác ngay trong hộp thư đến của bạn!</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Nhập email của bạn" style="width: 100%; ">
                            <input type="submit" value="Đăng kí" style="margin-top: 15px;background-color: #ffc107;width: 140px;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer top area -->
