.header-main {
  background-image: url('../images/BG_banner.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px 0px;

  .container-fluid {
    @media only screen and (max-width: 668px) {
      & {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
  }

  .logo {
    img {
      vertical-align: middle;
    }

    @media only screen and (max-width: 668px) {
      & {
        max-width: 250px;
      }
    }
  }

  .media {
    align-items: center;
    .media-body {
      text-align: right;
      span {
        font-size: 14px;
        color: #fff;
      }

      h5 {
        font-size: 14px;
        color: #fff;
      }

      @media only screen and (max-width: 886px) {
        & {
          display: none;
        }
      }
    }

    a {
      display: block;
      img {
        vertical-align: middle;
      }
    }
  }
}

.header-bottom {
  background: #003173;
  border-top: 1px solid #3c6597;
  @media only screen and (max-width: 886px) {
    & {
      display: none;
    }
  }
  .main-menu {
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        margin-right: 30px;
        line-height: 45px;

        &.has-child {
          &:hover {
            .drop-menu {
              display: flex;
            }
          }

          .drop-menu {
            flex-direction: column;
            align-items: flex-start;
            background: #fff;
            position: absolute;
            z-index: 99;
            -webkit-box-shadow: 1px 1px 6px 2px rgba(223, 223, 223, 0.8);
            box-shadow: 1px 1px 6px 2px rgba(223, 223, 223, 0.8);
            transition: 0.3s ease-out;
            display: none;
            animation: show_drop 0.5s forwards;

            @keyframes show_drop {
              0% {
                opacity: 0;
                visibility: hidden;
                display: none;
              }

              100% {
                opacity: 1;
                visibility: visible;
                display: flex;
              }
            }

            li {
              margin-right: unset;
              line-height: 22px;
              padding: 10px 20px 10px 20px;
              transition: 0.3s ease-out;
              width: 100%;
              &:hover {
                background: #dcf3ff;
              }

              a {
                font-size: 14px;
                color: #333333;
                position: relative;
                display: block;
                font-weight: normal;
                padding-left: 18px;
                width: 100%;
                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  width: 10px;
                  height: 15px;
                  background-image: url('../images/ic_sub_mn.png');
                  background-repeat: no-repeat;
                  background-position: center;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }

        &:last-child {
          margin-right: unset;
        }

        &.current-pages {
          a {
            color: #ebe627;
          }
        }

        &:hover {
          a {
            color: #ebe627;
          }
        }
        a {
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          transition: 0.3s ease-out;
        }
      }
    }
  }
}

.moblie-bar {
  display: none;

  button {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .hc-nav-trigger.hc-nav-1 {
    position: static;
  }
  @media only screen and (max-width: 886px) {
    & {
      display: block;
    }
  }
}
