<header id="header" class="header">
    <div class="header-main">
        <div class="container">
            <div class="container-fluid d-flex navbar navbar-expand-sm bg-warning navbar-dark" style="padding: 0px;">
                <div class="logo col-lg-0">
                    <a class="nav-link" routerLink="/" style="left: 0px; width: 300px; height: 60px">
                        <img src="/content/assets/images/logo.png" alt="">
                    </a>
                </div>
                <div style="width: 50px; height: 30px">
                </div>
                <div class="input-group" style="width:330px; height: 30px">
                    <input type="text" placeholder="Search..." style="width:300px; height: 30px" [(ngModel)]="timKiem">
                    <br/>
                    <button (click)="search()" type="button" class="btn btn-group" style="margin-left: -40px; z-index: 100;">
                        <i class="fa fa-search fa-lg" type="submit"></i>
                    </button>
                </div>
                <div style="width: 50px; height: 30px">
                </div>
                <div class="logoPhone-img" style="width: 30px; height: 30px">
                </div>
                <div style="width: 10px; height: 30px">
                </div>
                <div style="width:130px; font-size: 12px">
                    <div class="info-text">
                        <a>Gọi mua hàng:</a>
                        <br>
                        <a>0339 080 247</a>
                    </div>
                </div>
                <div class="col-lg-0">
                    <div class="logoShoping-img" style="width: 30px; height: 30px">
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="info-text" style="font-size: 12px">
                        <a routerLink="dm-gio-hang" routerLinkActive="active">Giỏ hàng</a>
                    </div>
                </div>
                <div class="media align-items-center col-lg-0">
                    <div class="media-body mr-3" style="font-size: 12px">
                        <a>Sophia</a>
                    </div>
                    <a href="" class="">
                        <img src="/content/assets/images/ic_user.png" alt="Generic placeholder image">
                    </a>
                </div>
            </div>
            <div class="header-bottom" style="width: 1110px; height: 47.5px;">
                <div class="container-fluid">
                    <div class="main-menu" [ngSwitch]="isAuthenticated()">
                        <ul>
                            <li class="has-child">
                                <a routerLink="dm-san-pham" routerLinkActive="active" jhiTranslate="global.menu.entities.tivi"></a>
<!--                                <ul class="drop-menu">-->
<!--                                    <li><a routerLink="dm-san-pham" routerLinkActive="active" jhiTranslate="global.menu.entities.tivi"></a></li>-->
<!--                                    <li><a routerLink="dm-san-pham" routerLinkActive="active" jhiTranslate="global.menu.entities.tivi"></a></li>-->
<!--                                </ul>-->
                            </li>
                            <li class="has-child">
                                <a routerLink="dm-dien-thoai" routerLinkActive="active"
                                   jhiTranslate="global.menu.entities.dienthoai.dienthoai"></a>
<!--                                <ul class="drop-menu">-->
<!--                                    <li><a routerLink="dm-dien-thoai" routerLinkActive="active"-->
<!--                                           jhiTranslate="global.menu.entities.dienthoai.iphone"> iphone </a></li>-->
<!--                                    <li><a routerLink="dm-dien-thoai" routerLinkActive="active"-->
<!--                                           jhiTranslate="global.menu.entities.dienthoai.samsung"> samsung </a></li>-->
<!--                                    <li><a jhiTranslate="global.menu.entities.tivi"></a></li>-->
<!--                                </ul>-->
                            </li>
                            <li>
                                <a routerLink="dm-lap-top" routerLinkActive="active"
                                   jhiTranslate="global.menu.entities.laptop.laptop" style="height: 100px; vertical-align: middle"></a>
                            </li>
                            <li>
                                <ul class="drop-menu">
                                    <a href="">Chương trình mục tiêu</a>
                                </ul>
                            </li>
                            <li>
                                <a href="">Trợ giúp</a>
                            </li>
                            <li class="has-child">
                                <a routerLink="dm-san-pham" routerLinkActive="active" jhiTranslate="global.menu.entities.taiKhoan"></a>
                                <ul class="drop-menu">
<!--                                    <li>-->
<!--                                        <a routerLink="dm-san-pham" routerLinkActive="active" jhiTranslate="global.menu.entities.tivi"></a>-->
<!--                                    </li>-->
                                    <li *ngSwitchCase="true">
                                        <a routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                                            <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li *ngSwitchCase="true">
                                        <a routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                                            <span jhiTranslate="global.menu.account.password"></span>
                                            <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                                        </a>
                                    </li>
                                    <li *ngSwitchCase="false">
                                        <a routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                                            <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                                            <span>Register</span>
                                        </a>
                                    </li>
                                    <li *ngSwitchCase="true">
                                        <a (click)="logout()" id="logout">
                                            <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngSwitchCase="false">
                                <a (click)="login()" id="login">
                                    <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                                    <span jhiTranslate="global.menu.account.login">Sign in</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
<!--                        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">-->
<!--                            <span>-->
<!--                                <fa-icon icon="home"></fa-icon>-->
<!--                                <span>Home</span>-->
<!--                            </span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
<!--                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">-->
<!--                            <span>-->
<!--                                <fa-icon icon="th-list"></fa-icon>-->
<!--                                <span>-->
<!--                                    Entities-->
<!--                                </span>-->
<!--                            </span>-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">-->
<!--                    <li>-->
<!--                        <a class="dropdown-item" routerLink="dm-dien-thoai" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
<!--                            <span jhiTranslate="global.menu.entities.dmDienThoai">Dm Dien Thoai</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--<li>-->
<!--                        <a class="dropdown-item"  [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
<!--                            <span jhiTranslate="global.menu.entities.dmSanPham">Dm San Pham</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--<li>-->
<!--                        <a class="dropdown-item" routerLink="dm-gio-hang" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
<!--                            <span jhiTranslate="global.menu.entities.dmGioHang">Dm Gio Hang</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--<li>-->
<!--                        <a class="dropdown-item" routerLink="dm-gio-hang" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--                            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>-->
<!--                            <span jhiTranslate="global.menu.entities.dmGioHang">Dm Gio Hang</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                            &lt;!&ndash; jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here &ndash;&gt;-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
<!--                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">-->
<!--                            <span>-->
<!--                                <fa-icon icon="user-plus"></fa-icon>-->
<!--                                <span>Administration</span>-->
<!--                            </span>-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">-->
<!--                            <li>-->
<!--                                <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="user" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>User management</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Metrics</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Health</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="list" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Configuration</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="bell" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Audits</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Logs</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li *ngIf="swaggerEnabled">-->
<!--                                <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="book" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>API</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            &lt;!&ndash; jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here &ndash;&gt;-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
<!--                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">-->
<!--                            <span *ngIf="!getImageUrl()">-->
<!--                                <fa-icon icon="user"></fa-icon>-->
<!--                                <span>-->
<!--                                    Account-->
<!--                                </span>-->
<!--                            </span>-->
<!--                            <span *ngIf="getImageUrl()">-->
<!--                                <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">-->
<!--                            </span>-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">-->
<!--                            <li *ngSwitchCase="true">-->
<!--                                <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Settings</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li *ngSwitchCase="true">-->
<!--                                <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Password</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li *ngSwitchCase="true">-->
<!--                                <a class="dropdown-item" (click)="logout()" id="logout">-->
<!--                                    <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Sign out</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li *ngSwitchCase="false">-->
<!--                                <a class="dropdown-item" (click)="login()" id="login">-->
<!--                                    <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Sign in</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li *ngSwitchCase="false">-->
<!--                                <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--                                    <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>-->
<!--                                    <span>Register</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                </nav>-->
