@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.has-child {
  .hover {
    .drop-menu {
      display: flex;
    }
  }

  .drop-menu {
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    position: absolute;
    z-index: 99;
    -webkit-box-shadow: 1px 1px 6px 2px rgba(223, 223, 223, 0.8);
    box-shadow: 1px 1px 6px 2px rgba(223, 223, 223, 0.8);
    transition: 0.3s ease-out;
    display: none;
    animation: show_drop 0.5s forwards;

    @keyframes show_drop {
      0% {
        opacity: 0;
        visibility: hidden;
        display: none;
      }

      100% {
        opacity: 1;
        visibility: visible;
        display: flex;
      }
    }

    li {
      margin-right: unset;
      line-height: 22px;
      padding: 10px 20px 10px 20px;
      transition: 0.3s ease-out;
      width: 100%;
      &:hover {
        background: #dcf3ff;
      }

      a {
        font-size: 14px;
        color: #333333;
        position: relative;
        display: block;
        font-weight: normal;
        padding-left: 18px;
        width: 100%;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          width: 10px;
          height: 15px;
          background-repeat: no-repeat;
          background-position: center;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}

.logoPhone-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-phone.png') no-repeat center center;
  background-size: contain;
}

.logoShoping-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/shoping-cart.png') no-repeat center center;
  background-size: contain;
}

.logo1doi1-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/icon1doi1.png') no-repeat center center;
  background-size: contain;
}

.logoBaoHanh-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/iconbaoHanh.png') no-repeat center center;
  background-size: contain;
}

.logoBox-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/iconbox.png') no-repeat center center;
  background-size: contain;
}

.logoTichXanh-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/icontichXanh.png') no-repeat center center;
  background-size: contain;
}
