<div class="col-md-12" style="padding: 0px">
    <form *ngIf="dmSanPham" name="deleteForm" (ngSubmit)="addToCart(dmSanPham?.id!)">
        <div class="modal-header">
            <h4 class="modal-title" jhiTranslate="entity.action.xacNhan"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;
            </button>
        </div>
        <div class="modal-body">
            <p id="jhi-delete-dmChiTieu-heading" jhiTranslate="entity.action.question" [translateValues]="{ id: dmSanPham.ten }"></p>
        </div>
        <div class="modal-footer modal-detail-footer">
            <button type="button" ngbAutofocus class="btn btn-secondary float-left" data-dismiss="modal" (click)="cancel()">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button id="jhi-confirm-delete-dmSanPham" type="submit" class="btn btn-primary float-left">
                <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.confim"></span>
            </button>
        </div>
    </form>
</div>
