<div class="container">
    <div class="col-12">
        <div *ngIf="dmSanPham">
            <br>
            <h2><p><span>{{ dmSanPham.ten }}</span></p></h2>
            <hr>
            <div class="row">
                <div class="column col-md-5">
                    <div *ngIf="dmSanPham.anh" style="margin-left: 50px; margin-right: 50px;">
                        <img [src]="'data:' + dmSanPham.anhContentType + ';base64,' + dmSanPham.anh"
                             style="width: 320px; height: 100%" alt="dmSanPham image"/>
                    </div>
                </div>
                <div class="column col-md-4">
                    <div style="border: 1px solid #e7e3e3; height: 150px; padding: 10px; width: 340px">
                        <td>{{ dmSanPham.cpu }}</td>
                        <td>{{ dmSanPham.gpu }}</td>
                        <td>{{ dmSanPham.ram }}</td>
                    </div>
                    <div style="border: 1px solid #e7e3e3; height: 300px; padding: 10px">
                        <strong data-count="4">Khuyến mãi <i>Giá và khuyến mãi dự kiến áp dụng đến 23:00
                            21/01</i></strong>
                        <br>
                        <br>
                        <li style="list-style:none;!important;">
                            <div class="logoTichXanh-img" style="width: 20px; height: 20px"></div>
                            <span>Giảm giá 500,000đ khi tham gia thu cũ đổi mới</span>
                        </li>
                        <li style="list-style:none;!important;">
                            <div class="logoTichXanh-img" style="width: 20px; height: 20px"></div>
                            <span>Pin sạc dự phòng giảm 30% khi mua kèm.</span>
                        </li>
                        <br>
                        <li style="list-style:none;!important;">
                            <div class="logoTichXanh-img" style="width: 20px; height: 20px"></div>
                            <span>Mua Đồng hồ thời trang giảm 40% (không kèm khuyến mãi  khác)</span>
                        </li>
                        <li style="list-style:none;!important;">
                            <div class="logoTichXanh-img" style="width: 20px; height: 20px"></div>
                            <span>Giá hoặc khuyến mãi không áp dụng khi mua trả góp 0% qua nhà tài chính</span>
                        </li>
                    </div>
                    <div style="color: #e0a800; width: 340px">
                        <button (click)="addToCartPopUp(dmSanPham)" type="button" class="btn btn-warning" style="color: #1a1a1a; width: 340px; font-size: 25px">MUA HÀNG</button>
                    </div>
                </div>
                <div class="column col-md-3">
                    <div style="border: 1px solid #ece6e6; height: 300px; padding: 10px">
                        <br>
                        <li style="list-style:none;!important;">
                            <span>
                                <div class="logoBox-img" style="width: 20px; height: 20px"></div>
                                <span>Bộ sản phẩm gồm: Phụ kiện fullbox, nguyên seal</span>
                            </span>
                        </li>
                        <br>
                        <li style="list-style:none;!important;">
                            <div class="logoBaoHanh-img" style="width: 20px; height: 20px"></div>
                            <span>Bảo hành chính hãng 12 tháng</span>
                        </li>
                        <br>
                        <li style="list-style:none;!important;">
                            <div class="logo1doi1-img" style="width: 20px; height: 20px"></div>
                            <span>Lỗi là đổi mới trong 1 tháng</span>
                        </li>
                    </div>
                </div>
            </div>
<!--            <button type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>-->
<!--            </button>-->

<!--            <button type="button"-->
<!--                    [routerLink]="['/dm-san-pham', dmSanPham.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>-->
<!--            </button>-->
        </div>
    </div>
</div>
